/* Reset margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #f06, #48f);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.container {
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 350px;
}

.container h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color:blueviolet;
}

.container p {
    font-size: 1rem;
    margin-bottom: 20px;
    font-style: italic;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    outline: none;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 1rem;
    margin-bottom: 20px;
    text-align: center;
}

input[type="number"]::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

button {
    background-color: #ff4081;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff79b0;
}

.feedback {
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: bold;
}

button:focus {
    outline: none;
}

/* Animations */
.container h1 {
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
